################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DMS/.vs/DMS/v16
/DMS/obj
/DMS/.vs/DMS
/DMS/bin/Debug/netcoreapp2.1
