################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DMS/.vs/DMS/v16
/DMS/obj
/DMS/.vs/DMS
/DMS/bin/Debug/netcoreapp2.1
/DMS/bin/Release/netcoreapp2.1/publish
/DMS/wwwroot/App_Data/DocumentCache/~14lkfls
/DMS/.vs/ProjectEvaluation
