@page
@model RegisterModel
@inject SignInManager<DMSUser> SignInManager
@inject UserManager<DMSUser> UserManager
@{
    Layout = null;
}

<head>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
          crossorigin="anonymous" />
    <link href="~/css/auth.css" rel="stylesheet" />
</head>
<style>
    .register-form {
        margin-left: 6rem;
    }
</style>
@if (SignInManager.IsSignedIn(User))
{
<script>
        window.location = 'http://localhost:59609/'
</script>
}
else
{
    <img src="~/images/wave.png" class="wave"/>
    <div class="container">
        <div class="img">
            <img src="~/images/download1.svg" />
        </div>
        <div class="login-content">
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <img src="~/images/download2.svg" />
                <h2 class="title">Welcome</h2>
                <!--<div asp-validation-summary="All" class="text-danger"></div> -->
                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                        <h5>E-mail</h5>
                        <input asp-for="Input.Email" class="input email_input" autocomplete="off" />
                    </div>
                </div>
                <span asp-validation-for="Input.Email" class="error"></span>
                <div class="input-div pass">
                    <div class="i">
                        <i class="fas fa-lock"></i>
                    </div>
                    <div class="div">
                        <h5>Password</h5>
                        <input asp-for="Input.Password" class="input" />
                    </div>
                </div>
                <span asp-validation-for="Input.Password" class="error"></span>
                <div class="input-div conf-pass">
                    <div class="i">
                        <i class="fas fa-lock"></i>
                    </div>
                    <div class="div">
                        <h5>Confirm Password</h5>
                        <input asp-for="Input.ConfirmPassword" class="input" />
                    </div>
                </div>
                <span asp-validation-for="Input.ConfirmPassword" class="error"></span>
                <input type="submit" class="btn" value="Register" />
            </form>
        </div>
    </div>
    <script src="~/js/main.js"></script>
}


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
