/* Navbar*/
body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #38d39f;
}

.navbar {
    position: fixed;
    background-color: #23232e;
    /*transition:  600ms ease;
    overflow: hidden;*/
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

    .nav-item:last-child {
        margin-top: auto;
    }

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: 600ms;
    border: none;
    background: #23232e;
}
    /* 
    .nav-link:hover {
        margin: 1rem;
    }

    .nav-link:hover {
        filter: grayscale(0%) opacity(1);
        background: #141418;
        color: #38d39f;
    }
    */
    .nav-link i {
        width: 1.5rem;
        min-width: 2rem;
        margin: 0 1.5rem;
    }

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    color: #ececec;
    background: #141418;
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
}
.nav-item-01 {
    width: 100%;
}
.navbar-nav-1 {
    list-style-type: none;
    margin-left: 2rem;
}
.nav-nestd-item {
    width: 100%;
}
#button-for-logout {
    width: 100%;
    background: #23232e;
    width: 100%;
}
.logo-text {
    display: inline;
    position: absolute;
    left: -999px;
    transform: translateY(-50%);
    transition: 600ms;
}
