/* 
*,
:before,
:after {
    box-sizing: border-box;
}

.unstyled {
    list-style: none;
    padding: 0;
    margin: 0;
}

    .unstyled a {
        text-decoration: none;
    }

.list-inline {
    overflow: hidden;
}

    .list-inline li {
        float: left;
    }

.header {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 17.5em;
    background: #35302d;
}

.logo {
    font: 300 2em "Source Sans Pro", Helvetica, Arial, sans-serif;
    text-align: center;
    padding: 0;
    margin: 0;
}

    .logo a {
        display: block;
        padding: 1em 0;
        color: #dfdbd9;
        text-decoration: none;
        transition: 0.15s linear color;
    }

        .logo a:hover {
            color: #fff;
        }

            .logo a:hover span {
                color: #0087ff;
            }

    .logo span {
        font-weight: 700;
        transition: 0.15s linear color;
    }

.main-nav ul {
    border-top: solid 1px #3c3735;
}

.main-nav li {
    border-bottom: solid 1px #3c3735;
}

.main-nav a {
    padding: 1.1em 0;
    color: #dfdbd9;
    font: 400 1.125em "Source Sans Pro", Helvetica, Arial, sans-serif;
    text-align: center;
}

    .main-nav a i {
        margin-right: 1rem;
    }

    .main-nav a:hover {
        color: #0087FF;
    }

.social-links {
    border-bottom: solid 1px #3c3735;
}

    .social-links li {
        width: 25%;
        border-left: solid 1px #3c3735;
    }

        .social-links li:first-child {
            border: none;
        }

    .social-links a {
        display: block;
        height: 5.5em;
        text-align: center;
        color: #3c3735;
        font: 0.75em/5.5em "Source Sans Pro", Helvetica, Arial, sans-serif;
    }

        .social-links a:hover {
            color: #dfdbd9;
        }

.list-hover-slide li {
    position: relative;
    overflow: hidden;
}

.list-hover-slide a {
    display: block;
    position: relative;
    z-index: 1;
    transition: 0.35s ease color;
}

    .list-hover-slide a:before {
        content: "";
        display: block;
        z-index: -1;
        position: absolute;
        left: -100%;
        top: 0;
        width: 100%;
        height: 100%;
        border-right: solid 5px #0087ff;
        background: #3c3735;
        transition: 0.35s ease left;
    }

    .list-hover-slide a.is-current:before, .list-hover-slide a:hover:before {
        left: 0;
    }

.icon {
    margin-right: 6rem;
}

.progress {
    display: flex;
    justify-content: center;
    align-items: center;
}

#progressBar {
    margin: 20px;
    width: 100px;
    height: 100px;
}

svg:nth-child(odd) {
    display: none;
}

#progressBar:nth-child(even) {
    display: none;
}

.storage {
    display: flex;
    justify-content: center;
    color: #dfdbd9;
    font-weight: 100;
    font-size: 18px;
}

.size {
    margin-left: .2rem;
    margin-right: .2rem;
}

.full_size {
    margin-left: .2rem;
    margin-right: .2rem;
}

#maxStorage {
    margin-left: .2rem;
}

.line {
    height: 1px;
    width: 100%;
    background-color: rgb(255,255,255);
}

.nav-item-upgrade {
    background-color: #0087ff;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
    margin-left: 1.5rem;
    width: 80%;
}

    */





*,
:before,
:after {
    box-sizing: border-box;
}

.unstyled {
    list-style: none;
    padding: 0;
    margin: 0;
}

    .unstyled a {
        text-decoration: none;
    }

.main-nav ul {
    border-top: solid 1px #3c3735;
}

.main-nav li {
    display: flex;
    width: 100%;
    border-bottom: solid 1px #3c3735;
}

.main-nav a {
    width: 80%;
    padding: 1.1em 0;
    color: #ffffff;
    font: 400 1.125em "Source Sans Pro", Helvetica, Arial, sans-serif;
    text-align: center;
}

.main-nav i {
    width: 20%;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.main-nav a i {
    margin-right: 1rem;
}

.main-nav a:hover {
    color: #0087ff;
}

.list-hover-slide li {
    position: relative;
    overflow: hidden;
}
.list-hover-slide a {
    display: block;
    position: relative;
    z-index: 1;
    transition: 0.35s ease color;
}
.list-hover-slide a:before {
    content: "";
    display: block;
    z-index: -1;
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    border-right: solid 5px #0087ff;
    background: #3c3735;
    transition: 0.35s ease left;
}

.list-hover-slide a.is-current:before,
.list-hover-slide a:hover:before {
    left: 0;
}

.icon {
    margin-right: 6rem;
}

.progress {
    display: flex;
    justify-content: center;
    align-items: center;
}

#progressBar {
    margin: 20px;
    width: 100px;
    height: 100px;
}

/*
svg:nth-child(odd) {
    display: none;
}

#progressBar:nth-child(even) {
    display: none;
}
.storage {
    display: flex;
    justify-content: center;
    color: #dfdbd9;
    font-weight: 100;
    font-size: 18px;
}
*/

.size {
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}

.full_size {
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}

#maxStorage {
    margin-left: 0.2rem;
}

.line {
    height: 1px;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.nav-item-upgrade {
    background-color: #0087ff;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
    margin-left: 1.5rem;
    width: 80%;
}
