@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link" id="profile" href="">Profile</a></li>
    <li class="nav-item"><a class="nav-link" id="email">Change Email</a></li>
    <li class="nav-item"><a class="nav-link" id="change-password">Change Password</a></li>
    <li class="nav-item"><a class="nav-link" id="two-factor">Two-factor authentication</a></li>
    <li class="nav-item"><a class="nav-link" id="personal-data">Personal data</a></li>
</ul>