@page
@model DMS.Pages.HomeModel
@{
    ViewData["Title"] = "Home";
    Layout = "~/Pages/_Layout.cshtml";
}
@using Microsoft.AspNetCore.Identity
<!--using DMS.Areas.Identity.Data-->
<!--inject SignInManager<DMSUser> SignInManager-->
<!--inject UserManager<DMSUser> UserManager-->


<div>
    <h2>Home</h2>
    <span>Welcome to DMS</span>

</div>
