@page
@model DMS.Pages.PrivacyPolicyModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description"  />
    <meta name="author"  />
    <title>Privacy Policy - Malafatee</title>
    <link href="css/styles.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.png" />
    <script data-search-pseudo-elements defer src="lib/font-awesome/5.11.2/js/all.min.js"></script>
    <script src="lib/feather-icons/4.24.1/feather.min.js"></script>
</head>
<body>
    <div id="layoutDefault">
        <div id="layoutDefault_content">
            <main>
                <nav class="navbar navbar-marketing navbar-expand-lg bg-gradient-primary-to-secondary navbar-dark fixed-top">
                    <div class="container">
                        <a class="navbar-brand text-white" href="index">Malafatee</a><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i data-feather="menu"></i></button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto mr-lg-5">
                                <li class="nav-item"><a class="nav-link" href="index">Home </a></li>
                                <li class="nav-item"><a class="nav-link" href="about">About </a></li>
                                <li class="nav-item"><a class="nav-link" href="contact">Contact Us </a></li>
                                <li style="display:none;" class="nav-item dropdown dropdown-xl no-caret">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdownDemos" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Landings<i class="fas fa-chevron-right dropdown-arrow"></i></a>
                                    <div class="dropdown-menu dropdown-menu-right animated--fade-in-up mr-lg-n15" aria-labelledby="navbarDropdownDemos">
                                        <div class="row no-gutters">
                                            <div class="col-lg-5 p-lg-3 bg-img-cover overlay overlay-primary overlay-70 d-none d-lg-block" style='background-image: url("https://source.unsplash.com/mqO0Rf-PUMs/500x350")'>
                                                <div class="d-flex h-100 w-100 align-items-center justify-content-center">
                                                    <div class="text-white text-center z-1">
                                                        <div class="mb-3">Multipurpose landing pages for a variety of projects.</div>
                                                        <a class="btn btn-white btn-sm text-primary rounded-pill" href="index">View All</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-7 p-lg-5">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <h6 class="dropdown-header text-primary">Applications</h6>
                                                        <a class="dropdown-item" href="landing-app-mobile">Mobile App</a><a class="dropdown-item" href="landing-app-desktop">Desktop App</a>
                                                        <div class="dropdown-divider border-0"></div>
                                                        <h6 class="dropdown-header text-primary">Business</h6>
                                                        <a class="dropdown-item" href="landing-multipurpose">Multipurpose</a><a class="dropdown-item" href="landing-agency">Agency</a><a class="dropdown-item" href="landing-press">Press</a><a class="dropdown-item" href="landing-directory">Directory</a><a class="dropdown-item" href="landing-rental">Rental</a><a class="dropdown-item" href="landing-real-estate">Real Estate</a><a class="dropdown-item" href="landing-classifieds">Classifieds</a>
                                                        <div class="dropdown-divider border-0"></div>
                                                        <h6 class="dropdown-header text-primary">Lead Generation</h6>
                                                        <a class="dropdown-item" href="landing-lead-capture">Lead Capture</a>
                                                        <div class="dropdown-divider border-0 d-lg-none"></div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <h6 class="dropdown-header text-primary">Personal</h6>
                                                        <a class="dropdown-item" href="landing-resume">Resume</a><a class="dropdown-item" href="landing-portfolio">Portfolio</a>
                                                        <div class="dropdown-divider border-0"></div>
                                                        <h6 class="dropdown-header text-primary">Header Styles</h6>
                                                        <a class="dropdown-item" href="header-basic">Basic</a><a class="dropdown-item" href="header-basic-signup">Basic (Signup)</a><a class="dropdown-item" href="header-graphic">Graphic</a><a class="dropdown-item" href="header-graphic-signup">Graphic (Signup)</a><a class="dropdown-item" href="header-inner-page">Inner Page</a><a class="dropdown-item" href="header-nav-only">Nav Only</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li style="display:none;" class="nav-item dropdown dropdown-lg no-caret">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdownPages" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages<i class="fas fa-chevron-right dropdown-arrow"></i></a>
                                    <div class="dropdown-menu dropdown-menu-right animated--fade-in-up" aria-labelledby="navbarDropdownPages">
                                        <div class="row no-gutters">
                                            <div class="col-lg-6 p-lg-5">
                                                <h6 class="dropdown-header text-primary">Company</h6>
                                                <a class="dropdown-item" href="page-basic">Basic Page</a><a class="dropdown-item" href="page-company-about">About</a><a class="dropdown-item" href="page-company-pricing">Pricing</a><a class="dropdown-item" href="page-company-contact">Contact</a><a class="dropdown-item" href="page-company-terms">Terms</a>
                                                <div class="dropdown-divider border-0"></div>
                                                <h6 class="dropdown-header text-primary">Support</h6>
                                                <a class="dropdown-item" href="page-help-center">Help Center</a><a class="dropdown-item" href="page-help-knowledgebase">Knowledgebase</a><a class="dropdown-item" href="page-help-message-center">Message Center</a><a class="dropdown-item" href="page-help-support-ticket">Support Ticket</a>
                                                <div class="dropdown-divider border-0 d-lg-none"></div>
                                            </div>
                                            <div class="col-lg-6 p-lg-5">
                                                <h6 class="dropdown-header text-primary">Careers</h6>
                                                <a class="dropdown-item" href="page-careers-overview">Careers List</a><a class="dropdown-item" href="page-careers-listing">Position Details</a>
                                                <div class="dropdown-divider border-0"></div>
                                                <h6 class="dropdown-header text-primary">Blog</h6>
                                                <a class="dropdown-item" href="page-blog-overview">Overview</a><a class="dropdown-item" href="page-blog-post">Post</a><a class="dropdown-item" href="page-blog-archive">Archive</a>
                                                <div class="dropdown-divider border-0"></div>
                                                <h6 class="dropdown-header text-primary">Portfolio</h6>
                                                <a class="dropdown-item" href="page-portfolio-grid">Grid</a><a class="dropdown-item" href="page-portfolio-large-grid">Large Grid</a><a class="dropdown-item" href="page-portfolio-masonry">Masonry</a><a class="dropdown-item" href="page-portfolio-case-study">Case Study</a><a class="dropdown-item" href="page-portfolio-project">Project</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li style="display:none;" class="nav-item dropdown no-caret">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdownDocs" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Documentation<i class="fas fa-chevron-right dropdown-arrow"></i></a>
                                    <div class="dropdown-menu dropdown-menu-right animated--fade-in-up" aria-labelledby="navbarDropdownDocs">
                                        <a class="dropdown-item py-3" href="https://docs.startbootstrap.com/sb-ui-kit-pro/quickstart" target="_blank">
                                            <div class="icon-stack bg-primary-soft text-primary mr-4"><i class="fas fa-book-open"></i></div>
                                            <div>
                                                <div class="small text-gray-500">Documentation</div>
                                                Usage instructions and reference
                                            </div>
                                        </a>
                                        <div class="dropdown-divider m-0"></div>
                                        <a class="dropdown-item py-3" href="https://docs.startbootstrap.com/sb-ui-kit-pro/components" target="_blank">
                                            <div class="icon-stack bg-primary-soft text-primary mr-4"><i class="fas fa-code"></i></div>
                                            <div>
                                                <div class="small text-gray-500">Components</div>
                                                Code snippets and reference
                                            </div>
                                        </a>
                                        <div class="dropdown-divider m-0"></div>
                                        <a class="dropdown-item py-3" href="https://docs.startbootstrap.com/sb-ui-kit-pro/changelog" target="_blank">
                                            <div class="icon-stack bg-primary-soft text-primary mr-4"><i class="fas fa-file"></i></div>
                                            <div>
                                                <div class="small text-gray-500">Changelog</div>
                                                Updates and changes
                                            </div>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                              @{ 
                                    string text = !User.Identity.IsAuthenticated ? "SIGN UP" : "Dashboard";
                                string href = !User.Identity.IsAuthenticated ? "Register" : "Dashboard";
                            <a class="btn-teal btn rounded-pill px-4 ml-lg-4" href="@href">@text<i class="fas fa-arrow-right ml-1"></i></a>
                            }
                        </div>
                    </div>
                </nav>
                <section class="bg-white py-10">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-10 mt-5">
                                <h1>Privacy Policy</h1>
                                <p class="lead">Last updated: September, 15 2020</p>
                                <!--
    <hr class="my-5" />
    <h2 class="mb-3">1. Overview</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae, corporis? Facere quisquam earum dolore excepturi minima, fuga laborum reiciendis molestias nesciunt, impedit perspiciatis voluptatem nisi ad modi labore ipsam quas.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. In, quis explicabo? Quis non minima, placeat aspernatur reiciendis, itaque quam quos eaque doloribus vero facere libero enim quo dolor. Et, fugit!</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere harum neque, repellendus, accusamus maiores libero iure corporis alias laboriosam voluptatem perferendis repellat excepturi iusto eos? Illum nam minus officia corrupti!</p>
    <hr class="my-5" />
    <h2 class="mb-3">2. Personal Data We Collect</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum fuga molestias atque, nesciunt, rerum quas voluptates maiores ad libero, eos illum. Dolorem sunt, modi dolores error ipsum deserunt architecto temporibus!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero suscipit excepturi natus quae deserunt aliquam, aut distinctio, eum a laboriosam earum reiciendis beatae magni, cum minima unde? Sint, saepe reprehenderit.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla repellendus qui quidem voluptatibus architecto unde aspernatur quam facilis incidunt expedita quisquam natus nemo, impedit iure dignissimos saepe ab minus molestiae.</p>
    <hr class="my-5" />
    <h2 class="mb-3">3. How We Use Personal Data</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem excepturi repellat ipsum veniam dolores, aperiam obcaecati quaerat! Reiciendis dolore, ipsa eaque a eum architecto sed perspiciatis deserunt totam! Exercitationem, ipsum!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero nam consequatur nisi eius odit eligendi ut tempora deserunt, repudiandae quo hic veritatis sunt optio ea nemo laborum mollitia quae illum.</p>
    <hr class="my-5" />
    <h2 class="mb-3">4. How We Disclose Personal Data</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta, cumque sed porro dolorum ipsum eum quis eveniet natus, optio ipsa aperiam aliquid quaerat quos vitae maiores. Minima consequuntur quidem perferendis?</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates quaerat ipsam quis nisi in, rem aliquam odio quasi obcaecati. Dolorum error aliquam labore deserunt velit ipsa in corrupti, consectetur cumque!</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique quia eligendi possimus odit, velit nihil eum perferendis laborum facilis sequi quo provident veritatis nostrum cupiditate accusamus quam tempore? Deleniti, architecto.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius cum nemo ipsam eum, quam neque quae vel culpa, minus accusantium rerum ullam facere modi quo mollitia, non dolores ipsum aut.</p>
    <hr class="my-5" />
        -->
                                <p>This Privacy Policy describes Our policies and procedures on the collection, use and disclosure of Your information when You use the Service and tells You about Your privacy rights and how the law protects You.</p>
                                <p>We use Your Personal data to provide and improve the Service. By using the Service, You agree to the collection and use of information in accordance with this Privacy Policy.</p>
                                <hr class="my-5" />

                                <h1 class="mb-3">Interpretation and Definitions</h1>
                                <h2 class="mb-3">Interpretation</h2>
                                <p>The words of which the initial letter is capitalized have meanings defined under the following conditions. The following definitions shall have the same meaning regardless of whether they appear in singular or in plural.</p>
                                <hr class="my-5" />

                                <h2 class="mb-3">Definitions</h2>
                                <p>For the purposes of this Privacy Policy:</p>
                                <ul>
                                    <li>
                                        <p><strong>Account</strong> means a unique account created for You to access our Service or parts of our Service.</p>
                                    </li>
                                    <li>
                                        <p><strong>Company</strong> (referred to as either &quot;the Company&quot;, &quot;We&quot;, &quot;Us&quot; or &quot;Our&quot; in this Agreement) refers to Malafatee, none.</p>
                                    </li>
                                    <li>
                                        <p><strong>Cookies</strong> are small files that are placed on Your computer, mobile device or any other device by a website, containing the details of Your browsing history on that website among its many uses.</p>
                                    </li>
                                    <li>
                                        <p><strong>Country</strong> refers to:  Palestinian Territories</p>
                                    </li>
                                    <li>
                                        <p><strong>Device</strong> means any device that can access the Service such as a computer, a cellphone or a digital tablet.</p>
                                    </li>
                                    <li>
                                        <p><strong>Personal Data</strong> is any information that relates to an identified or identifiable individual.</p>
                                    </li>
                                    <li>
                                        <p><strong>Service</strong> refers to the Website.</p>
                                    </li>
                                    <li>
                                        <p><strong>Service Provider</strong> means any natural or legal person who processes the data on behalf of the Company. It refers to third-party companies or individuals employed by the Company to facilitate the Service, to provide the Service on behalf of the Company, to perform services related to the Service or to assist the Company in analyzing how the Service is used.</p>
                                    </li>
                                    <li>
                                        <p><strong>Third-party Social Media Service</strong> refers to any website or any social network website through which a User can log in or create an account to use the Service.</p>
                                    </li>
                                    <li>
                                        <p><strong>Usage Data</strong> refers to data collected automatically, either generated by the use of the Service or from the Service infrastructure itself (for example, the duration of a page visit).</p>
                                    </li>
                                    <li>
                                        <p><strong>Website</strong> refers to Malafatee, accessible from <a href="https://malafatee.com" rel="external nofollow noopener" target="_blank">https://malafatee.com</a></p>
                                    </li>
                                    <li>
                                        <p><strong>You</strong> means the individual accessing or using the Service, or the company, or other legal entity on behalf of which such individual is accessing or using the Service, as applicable.</p>
                                    </li>
                                </ul>
                                <hr class="my-5" />
                                <h1>Collecting and Using Your Personal Data</h1>
                                <h2 class="mb-3">Types of Data Collected</h2>
                                <h3>Personal Data</h3>
                                <p>While using Our Service, We may ask You to provide Us with certain personally identifiable information that can be used to contact or identify You. Personally identifiable information may include, but is not limited to:</p>
                                <ul>
                                    <li>
                                        <p>Email address</p>
                                    </li>
                                    <li>
                                        <p>Phone number</p>
                                    </li>
                                    <li>
                                        <p>Usage Data</p>
                                    </li>
                                </ul>
                                <hr class="my-5" />

                                <h3>Usage Data</h3>
                                <p>Usage Data is collected automatically when using the Service.</p>
                                <p>Usage Data may include information such as Your Device's Internet Protocol address (e.g. IP address), browser type, browser version, the pages of our Service that You visit, the time and date of Your visit, the time spent on those pages, unique device identifiers and other diagnostic data.</p>
                                <p>When You access the Service by or through a mobile device, We may collect certain information automatically, including, but not limited to, the type of mobile device You use, Your mobile device unique ID, the IP address of Your mobile device, Your mobile operating system, the type of mobile Internet browser You use, unique device identifiers and other diagnostic data.</p>
                                <p>We may also collect information that Your browser sends whenever You visit our Service or when You access the Service by or through a mobile device.</p>
                                <h3>Tracking Technologies and Cookies</h3>
                                <p>We use Cookies and similar tracking technologies to track the activity on Our Service and store certain information. Tracking technologies used are beacons, tags, and scripts to collect and track information and to improve and analyze Our Service.</p>
                                <p>You can instruct Your browser to refuse all Cookies or to indicate when a Cookie is being sent. However, if You do not accept Cookies, You may not be able to use some parts of our Service.</p>
                                <p>Cookies can be &quot;Persistent&quot; or &quot;Session&quot; Cookies. Persistent Cookies remain on your personal computer or mobile device when You go offline, while Session Cookies are deleted as soon as You close your web browser. Learn more about cookies: <a href="https://www.freeprivacypolicy.com/blog/cookies/" target="_blank">Cookies: What Do They Do?</a>.</p>
                                <p>We use both session and persistent Cookies for the purposes set out below:</p>
                                <ul>
                                    <li>
                                        <p><strong>Necessary / Essential Cookies</strong></p>
                                        <p>Type: Session Cookies</p>
                                        <p>Administered by: Us</p>
                                        <p>Purpose: These Cookies are essential to provide You with services available through the Website and to enable You to use some of its features. They help to authenticate users and prevent fraudulent use of user accounts. Without these Cookies, the services that You have asked for cannot be provided, and We only use these Cookies to provide You with those services.</p>
                                    </li>
                                    <li>
                                        <p><strong>Cookies Policy / Notice Acceptance Cookies</strong></p>
                                        <p>Type: Persistent Cookies</p>
                                        <p>Administered by: Us</p>
                                        <p>Purpose: These Cookies identify if users have accepted the use of cookies on the Website.</p>
                                    </li>
                                    <li>
                                        <p><strong>Functionality Cookies</strong></p>
                                        <p>Type: Persistent Cookies</p>
                                        <p>Administered by: Us</p>
                                        <p>Purpose: These Cookies allow us to remember choices You make when You use the Website, such as remembering your login details or language preference. The purpose of these Cookies is to provide You with a more personal experience and to avoid You having to re-enter your preferences every time You use the Website.</p>
                                    </li>
                                </ul>
                                <p>For more information about the cookies we use and your choices regarding cookies, please visit our Cookies Policy or the Cookies section of our Privacy Policy.</p>
                                <hr class="my-5" />

                                <h2 class="mb-3">Use of Your Personal Data</h2>
                                <p>The Company may use Personal Data for the following purposes:</p>
                                <ul>
                                    <li><strong>To provide and maintain our Service</strong>, including to monitor the usage of our Service.</li>
                                    <li><strong>To manage Your Account:</strong> to manage Your registration as a user of the Service. The Personal Data You provide can give You access to different functionalities of the Service that are available to You as a registered user.</li>
                                    <li><strong>For the performance of a contract:</strong> the development, compliance and undertaking of the purchase contract for the products, items or services You have purchased or of any other contract with Us through the Service.</li>
                                    <li><strong>To contact You:</strong> To contact You by email, telephone calls, SMS, or other equivalent forms of electronic communication, such as a mobile application's push notifications regarding updates or informative communications related to the functionalities, products or contracted services, including the security updates, when necessary or reasonable for their implementation.</li>
                                    <li><strong>To provide You</strong> with news, special offers and general information about other goods, services and events which we offer that are similar to those that you have already purchased or enquired about unless You have opted not to receive such information.</li>
                                    <li><strong>To manage Your requests:</strong> To attend and manage Your requests to Us.</li>
                                </ul>
                                <p>We may share your personal information in the following situations:</p>
                                <ul>
                                    <li><strong>With Service Providers:</strong> We may share Your personal information with Service Providers to monitor and analyze the use of our Service,  to contact You.</li>
                                    <li><strong>For Business transfers:</strong> We may share or transfer Your personal information in connection with, or during negotiations of, any merger, sale of Company assets, financing, or acquisition of all or a portion of our business to another company.</li>
                                    <li><strong>With Affiliates:</strong> We may share Your information with Our affiliates, in which case we will require those affiliates to honor this Privacy Policy. Affiliates include Our parent company and any other subsidiaries, joint venture partners or other companies that We control or that are under common control with Us.</li>
                                    <li><strong>With Business partners:</strong> We may share Your information with Our business partners to offer You certain products, services or promotions.</li>
                                    <li><strong>With other users:</strong> when You share personal information or otherwise interact in the public areas with other users, such information may be viewed by all users and may be publicly distributed outside. If You interact with other users or register through a Third-Party Social Media Service, Your contacts on the Third-Party Social Media Service may see Your name, profile, pictures and description of Your activity. Similarly, other users will be able to view descriptions of Your activity, communicate with You and view Your profile.</li>
                                </ul>
                                <h2 class="mb-3">Retention of Your Personal Data</h2>
                                <p>The Company will retain Your Personal Data only for as long as is necessary for the purposes set out in this Privacy Policy. We will retain and use Your Personal Data to the extent necessary to comply with our legal obligations (for example, if we are required to retain your data to comply with applicable laws), resolve disputes, and enforce our legal agreements and policies.</p>
                                <p>The Company will also retain Usage Data for internal analysis purposes. Usage Data is generally retained for a shorter period of time, except when this data is used to strengthen the security or to improve the functionality of Our Service, or We are legally obligated to retain this data for longer time periods.</p>
                                <h2 class="mb-3">Transfer of Your Personal Data</h2>
                                <p>Your information, including Personal Data, is processed at the Company's operating offices and in any other places where the parties involved in the processing are located. It means that this information may be transferred to — and maintained on — computers located outside of Your state, province, country or other governmental jurisdiction where the data protection laws may differ than those from Your jurisdiction.</p>
                                <p>Your consent to this Privacy Policy followed by Your submission of such information represents Your agreement to that transfer.</p>
                                <p>The Company will take all steps reasonably necessary to ensure that Your data is treated securely and in accordance with this Privacy Policy and no transfer of Your Personal Data will take place to an organization or a country unless there are adequate controls in place including the security of Your data and other personal information.</p>
                                <h2 class="mb-3">Disclosure of Your Personal Data</h2>
                                <h3>Business Transactions</h3>
                                <p>If the Company is involved in a merger, acquisition or asset sale, Your Personal Data may be transferred. We will provide notice before Your Personal Data is transferred and becomes subject to a different Privacy Policy.</p>
                                <h3>Law enforcement</h3>
                                <p>Under certain circumstances, the Company may be required to disclose Your Personal Data if required to do so by law or in response to valid requests by public authorities (e.g. a court or a government agency).</p>
                                <h3>Other legal requirements</h3>
                                <p>The Company may disclose Your Personal Data in the good faith belief that such action is necessary to:</p>
                                <ul>
                                    <li>Comply with a legal obligation</li>
                                    <li>Protect and defend the rights or property of the Company</li>
                                    <li>Prevent or investigate possible wrongdoing in connection with the Service</li>
                                    <li>Protect the personal safety of Users of the Service or the public</li>
                                    <li>Protect against legal liability</li>
                                </ul>
                                <h2 class="mb-3">Security of Your Personal Data</h2>
                                <p>The security of Your Personal Data is important to Us, but remember that no method of transmission over the Internet, or method of electronic storage is 100% secure. While We strive to use commercially acceptable means to protect Your Personal Data, We cannot guarantee its absolute security.</p>
                                <h1>Your California Privacy Rights (California's Shine the Light law)</h1>
                                <p>Under California Civil Code Section 1798 (California's Shine the Light law), California residents with an established business relationship with us can request information once a year about sharing their Personal Data with third parties for the third parties' direct marketing purposes.</p>
                                <p>If you'd like to request more information under the California Shine the Light law, and if you are a California resident, You can contact Us using the contact information provided below.</p>
                                <h1>California Privacy Rights for Minor Users (California Business and Professions Code Section 22581)</h1>
                                <p>California Business and Professions Code section 22581 allow California residents under the age of 18 who are registered users of online sites, services or applications to request and obtain removal of content or information they have publicly posted.</p>
                                <p>To request removal of such data, and if you are a California resident, You can contact Us using the contact information provided below, and include the email address associated with Your account.</p>
                                <p>Be aware that Your request does not guarantee complete or comprehensive removal of content or information posted online and that the law may not permit or require removal in certain circumstances.</p>
                                <hr class="my-5" />

                                <h1>Links to Other Websites</h1>
                                <p>Our Service may contain links to other websites that are not operated by Us. If You click on a third party link, You will be directed to that third party's site. We strongly advise You to review the Privacy Policy of every site You visit.</p>
                                <p>We have no control over and assume no responsibility for the content, privacy policies or practices of any third party sites or services.</p>
                                <hr class="my-5" />

                                <h1>Changes to this Privacy Policy</h1>
                                <p>We may update our Privacy Policy from time to time. We will notify You of any changes by posting the new Privacy Policy on this page.</p>
                                <p>We will let You know via email and/or a prominent notice on Our Service, prior to the change becoming effective and update the &quot;Last updated&quot; date at the top of this Privacy Policy.</p>
                                <p>You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted on this page.</p>
                                <hr class="my-5" />

                                <h1>Contact Us</h1>
                                <p>If you have any questions about this Privacy Policy, You can contact us:</p>
                                <ul>
                                    <li>By email: support@malafatee.com</li>
                                </ul>
                                <div class="card z-1 mb-n10">
                                    <div class="card-body text-center py-5">
                                        <h2 class="mb-3">We&apos;re here to help</h2>
                                        <a class="btn btn-primary btn-marketing rounded-pill" href="Contact">Contact Us</a>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="svg-border-rounded text-dark">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0" /></svg>
                    </div>
                </section>
            </main>
        </div>
        <div id="layoutDefault_footer">
            <footer class="footer pt-10 pb-5 mt-auto bg-dark footer-dark">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="footer-brand">Malafaee</div>
                            <div class="mb-3">You will never lose any document or file again.</div>
                            <div class="icon-list-social mb-5">
                                <a class="icon-list-social-link" href="javascript:void(0);"><i class="fab fa-instagram"></i></a><a class="icon-list-social-link" href="javascript:void(0);"><i class="fab fa-facebook"></i></a><a class="icon-list-social-link" href="javascript:void(0);"><i class="fab fa-github"></i></a><a class="icon-list-social-link" href="javascript:void(0);"><i class="fab fa-twitter"></i></a>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="row">
                                <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                                    <div class="text-uppercase-expanded text-xs mb-4">Product</div>
                                    <ul class="list-unstyled mb-0">
                                        <li class="mb-2"><a href="index">Home</a></li>
                                        <li class="mb-2"><a href="about">About</a></li>
                                        <li class="mb-2"><a href="contact">Contact Us</a></li>
                                    </ul>
                                </div>
                                <!--
                                <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                                    <div class="text-uppercase-expanded text-xs mb-4">Technical</div>
                                    <ul class="list-unstyled mb-0">
                                        <li class="mb-2"><a href="javascript:void(0);">Documentation</a></li>
                                        <li class="mb-2"><a href="javascript:void(0);">Changelog</a></li>
                                        <li class="mb-2"><a href="javascript:void(0);">Theme Customizer</a></li>
                                        <li><a href="javascript:void(0);">UI Kit</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
                                    <div class="text-uppercase-expanded text-xs mb-4">Includes</div>
                                    <ul class="list-unstyled mb-0">
                                        <li class="mb-2"><a href="javascript:void(0);">Utilities</a></li>
                                        <li class="mb-2"><a href="javascript:void(0);">Components</a></li>
                                        <li class="mb-2"><a href="javascript:void(0);">Layouts</a></li>
                                        <li class="mb-2"><a href="javascript:void(0);">Code Samples</a></li>
                                        <li class="mb-2"><a href="javascript:void(0);">Products</a></li>
                                        <li class="mb-2"><a href="javascript:void(0);">Affiliates</a></li>
                                        <li><a href="javascript:void(0);">Updates</a></li>
                                    </ul>
                                </div>-->
                                <div class="col-lg-3 col-md-6">
                                    <div class="text-uppercase-expanded text-xs mb-4">Legal</div>
                                    <ul class="list-unstyled mb-0">
                                        <li class="mb-2"><a href="privacypolicy">Privacy Policy</a></li>
                                        <li class="mb-2"><a href="terms">Terms and Conditions</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="my-5" />
                    <div class="row align-items-center">
                        <div class="col-md-6 small">Copyright &#xA9; Zimam Solutions (Malafatee) 2020</div>
                        <div class="col-md-6 text-md-right small">
                            <a href="privacypolicy">Privacy Policy</a>
                            &#xB7;
                            <a href="terms">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/scripts.js"></script>
</body>

</html>
