@page
@model DMS.Pages.SettingsModel
@{
    ViewData["Title"] = "Settings";
    Layout = "~/Pages/_Layout.cshtml";
}

<h2 class="content-block" style="font-size:22px;margin:0;margin-right:2rem;">Settings</h2>

