@page
@model DMS.Pages.SignOutModel
@using Microsoft.AspNetCore.Authentication.Cookies;
@using Microsoft.AspNetCore.Authentication;
@{
    Layout = null;
    await HttpContext.SignOutAsync(
            CookieAuthenticationDefaults.AuthenticationScheme);

    Response.Redirect("Login");
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SignOut</title>
</head>
<body>
</body>
</html>
