@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="progress"><div id="progressBar"></div></div>
<h2 class="storage">
    <span id="usedStorage">588</span>
    <span class="size" id="usedStoragePrefix">MB</span>of
    <span id="maxStorage">10</span>
    <span class="full_size" id="maxStoragePrefix">GB</span>used
</h2>

<script src="~/js/storage.js"></script>

<script src="~/js/progressbar.js"></script>
