@page
@model DMS.Pages.EmailVerifyModel
@{
    Layout = null;

    string id = Request.Query["Key"];
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Email Verify</title>
</head>
<body>
    <script>
            function verify() {
                const xhr = new XMLHttpRequest();

                xhr.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        console.log(this.responseText);
                    }
                }
                const fd = new FormData();
                fd.append("id", @id);
                xhr.open("POST", "api/Authorization/Verify", true);
                xhr.send(fd);
            }
    </script>
    <script src="~/js/main.js"></script>
</body>
</html>
