@page
@model DMS.Pages.EmailVerifyModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Emailverify</title>
    <link rel="stylesheet" href="~/css/auth.css"/>
</head>
<body>
    <div class="login-content">
        <form action="javascript:verify()">
            <h2 class="title">Verify</h2>
            <div class="input-div one">
                <div class="i">
                    <i class="fas fa-user"></i>
                </div>
                <div class="div">
                    <h5>Code</h5>
                    <input type="email" class="input email_input" id="email_input" autocomplete="off" />
                    <input type="text" name="code" class="input" id="code_input" autocomplete="off"/>
                </div>
            </div>
            <br />
            <input type="submit" class="btn" value="Verify"/>
        </form>

        <script>
            function verify() {
                const code = document.getElementById('code_input').value;
                if (!code) {
                    alert("A");
                }
                const xhr = new XMLHttpRequest();

                xhr.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        console.log(this.responseText);
                    }
                }
                const fd = new FormData();
                fd.append("code", code);
                xhr.open("POST", "api/Authorization/", true);
                xhr.send(fd);
            }
        </script>
    </div>

    <script src="~/js/main.js"></script>
</body>
</html>
