@using GleamTech.AspNet.Core
@using GleamTech.DocumentUltimate
@using GleamTech.DocumentUltimate.AspNet
@using GleamTech.DocumentUltimate.AspNet.UI

@{
        var documentViewer = new DocumentViewer
        {
            //Width = GleamTech.AspNet.UI.CssLength.Percentage(100),
            //Height = GleamTech.AspNet.UI.CssLength.Percentage(100),
             DisplayMode = GleamTech.AspNet.UI.DisplayMode.Viewport,
            Document = "~/uploads/AI_Inventor_Notebook-Season2.pdf"
    };
}
<html>
<head>
    <title>Document Viewer</title>

    @this.RenderHead(documentViewer)
</head>
<body>
        @this.RenderBody(documentViewer)
</body>
</html>