@page
@model DMS.Pages.ViewerModel
@using System.Net.Http;
@using System.Net.Http.Headers;
@using System.IO;
@{
    ViewData["Title"] = "Document Viewer";
    Layout = "~/Pages/_Layout.cshtml";

    long AutoKey = 0;

    AutoKey = Convert.ToInt64(Request.Query["AutoKey"]);

    if (AutoKey == 0)
    {
        Redirect("Index");
    }
}


@if (AutoKey != 0)
{
    <head>
        <style>
            #documentViewer {
                height: 85vh;
            }
            .content-block {
                display: none;
            }
        </style>
    </head>


    @if (!String.IsNullOrEmpty(Request.Query["FileName"]))
    {

        <div class="document">
            <partial name="Viewer2" />
        </div>
    }else
    {

            <script>

        $(document).ready(function () {

                window.location = 'Viewer?AutoKey=' + @AutoKey + "&FileName=" + getVal();
           });
        function getVal()
{
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.open("GET", "api/Upload/GetFileName?AutoKey=" + @AutoKey, false );
    xmlHttp.send();
    return xmlHttp.responseText;
        }
            </script>
      }

    }