@page
@model DMS.Pages.ViewerModel

@{
    ViewData["Title"] = "Document Viewer";
    Layout = "~/Pages/_Layout.cshtml";
}
<head>
    <style>
        body {
            height: 100%;
        }
        #documentViewer {
            height: 100%;
        }
        .content-block {
            display: none;
        }
    </style>
</head>

<div style="width: 100%; height:100vh">
    <partial name="Viewer2" />
</div>