@page
@model DMS.Pages.ViewerModel
@using System.Net.Http;
@using System.Net.Http.Headers;
@using System.IO;
@{
    ViewData["Title"] = "Document Viewer";
    Layout = "~/Pages/_Layout.cshtml";

    long AutoKey = 0;

    AutoKey = Convert.ToInt64(Request.Query["InfoAutoKey"]);

    if (AutoKey == 0)
    {
        Redirect("Dashboard");
    }  
}


@if (AutoKey != 0)
{
    <head>
        <style>
            #DocumentViewer {
                width: 100%;
                height: 85vh;
            }
            #documentViewer {
                width: 100%;
                height: 85vh;
            }
            .content-block {
                display: none;
            }
        </style>
    </head>


        <div class="document">
            <partial name="Viewer2" />
        </div>

    }