@using GleamTech.AspNet.Core
@using GleamTech.DocumentUltimate
@using GleamTech.DocumentUltimate.AspNet
@using GleamTech.DocumentUltimate.AspNet.UI

@{

    ServiceReference1.AlSahlServiceClient client = new ServiceReference1.AlSahlServiceClient();

    string fn = "";
    Microsoft.Extensions.Primitives.StringValues queryVal;

    if (Context.Request.Query.TryGetValue("FileName", out queryVal))
    {
        fn = queryVal.FirstOrDefault();
    }


    var documentViewer = new DocumentViewer
    {
        //Width = GleamTech.AspNet.UI.CssLength.Percentage(100),
        //Height = GleamTech.AspNet.UI.CssLength.Percentage(100),
        // DisplayMode = GleamTech.AspNet.UI.DisplayMode.Viewport,
        Document = "~/uploads/" + fn
    };


}
<html>
<head>
    <title>Document Viewer</title>

    @this.RenderHead(documentViewer)
</head>
<body>
    @this.RenderBody(documentViewer)

</body>
</html>