@using GleamTech.AspNet.Core
@using GleamTech.DocumentUltimate
@using GleamTech.DocumentUltimate.AspNet
@using GleamTech.DocumentUltimate.AspNet.UI

@{


    string InfoAutoKey = "";
    string LineAutoKey = "";
    Microsoft.Extensions.Primitives.StringValues queryVal;

    if (Context.Request.Query.TryGetValue("InfoAutoKey", out queryVal))
    {
        InfoAutoKey = queryVal.FirstOrDefault();
    }

    if (Context.Request.Query.TryGetValue("LineAutoKey", out queryVal))
    {
        LineAutoKey = queryVal.FirstOrDefault();
    }


    DMS.Database.SQLHelper helper = new DMS.Database.SQLHelper(DMS.Database.DataManager.GetConnectionString());

    var Ext = helper.SelectWithWhere(DMS.Database.Tables.DocumentLines,
        "Ext",
        "InfoAutoKey = '" + InfoAutoKey + "'");

    var fn = InfoAutoKey + "_" + LineAutoKey + Ext;

    var arr = helper.ExecuteScalar<byte[]>("select TOP 1 file_stream from " + DMS.Database.Tables.Images + " where name = '" + fn + "'");

    var documentViewer = new DocumentViewer
    {
        //Width = GleamTech.AspNet.UI.CssLength.Percentage(100),
        //Height = GleamTech.AspNet.UI.CssLength.Percentage(100),
        // DisplayMode = GleamTech.AspNet.UI.DisplayMode.Viewport,
        //        Document = "~/uploads/" + fn
        DocumentSource = new DocumentSource(new DocumentInfo(fn), arr)
    };


}
<html>
<head>
    <title>Document Viewer</title>

    @this.RenderHead(documentViewer)
</head>
<body>
    @this.RenderBody(documentViewer)

</body>
</html>