@page
@model DMS.Pages.ViewerModel

@{
    ViewData["Title"] = "Document Viewer";
    Layout = "~/Pages/_Layout.cshtml";

    long AutoKey = 0;

    AutoKey = Convert.ToInt64(Request.Query["AutoKey"]);

    if (AutoKey == 0)
    {
        Redirect("Index");
    }

    //ViewBag["FileName"] =    
}


@if (AutoKey != 0)
{
<head>
    <style>
        body {
            height: 100%;
        }
        #documentViewer {
            height: 100%;
        }
        .content-block {
            display: none;
        }
    </style>
</head>

<div style="width: 100%; height:100vh">
    <partial name="Viewer2" />
</div>
}